<section class="main-menu-row">
  <menu class="main-menu">
    <li>
      <a routerLink="/about-us" routerLinkActive="active" class="main-menu-item">
        About us
      </a>
    </li>
    <li>
      <a href="" class="main-menu-item">
        Katalog
      </a>
      <!--<ul>-->
      <!--<li>-->
      <!--<a href="#">item-1</a>-->
      <!--</li>-->
      <!--<li>-->
      <!--<a href="#">item-2</a>-->
      <!--</li>-->
      <!--</ul>-->
    </li>
    <li>
      <a href="" class="main-menu-item">
        <b>icon</b>
      </a>
    </li>
    <li>
      <a routerLink="/delivery" routerLinkActive="active" class="main-menu-item">
        Delivery
      </a>
    </li>
    <li>
      <a href="" class="main-menu-item">
        Bucket
      </a>
    </li>
  </menu>
</section>
